name: Job Descriptions

on:
  workflow_dispatch:
  push:
    paths: 
      - .github/workflows/job-descriptions.yml

jobs:  
  simple_summary:
    strategy:
      matrix:
        environment_to_deploy: [ test, demo_amadeus]
    environment: ${{ matrix.environment_to_deploy }}
    runs-on: ubuntu-latest
    steps:
      - run: echo '### Hello  world! :rocket:' >> $GITHUB_STEP_SUMMARY
  tables:
    runs-on: ubuntu-latest
    steps:
      - name: Write Summary from Action
        uses: actions/github-script@v6.4.1
        with:
          script: |
            await core.summary
            .addHeading('Test Results')
            .addTable([
              [{data: 'File', header: true}, {data: 'Result', header: true}],
              ['foo.js', 'Pass ✅'],
              ['bar.js', 'Fail ❌'],
              ['test.js', 'Pass ✅']
            ])
            .addLink('View staging deployment!', 'https://github.com')
            .write()
